<div class="venue-row row">
  <div class="venue-details clearfix">
    <div class="venue-distance col-xs-2">
      <p><%= venue.distance.round(1) if venue.geocoded? %></p>
    <p class="subtext">Miles</p>
    </div>
    <div class="venue-info col-xs-6">
      <h3><%= link_to venue.name, venue %></h3>
      <p class="subtext"><%= venue.street_address %></p>
    </div>
    <div class="time-remaining col-xs-2">
      <p>-</p>
      <p class="subtext">Remaining</p>
      <i class="fa fa-chevron-right pull-right"></i>
    </div>
  </div>
  
  <ul class="venue-deals">
    <% venue.todays_deals.each do |deal| %>
      <li><%= link_to deal.title, deal %></li>
    <% end %>
  </ul>

</div>