$gray: #EBEBEB;
$primary-color: #2D3E50;
$primary-color-darker: #1F2025;
$accent-color: #F8A626;

$brand-font-stack: 'Lobster', cursive;
$sans-font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
