// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.venue-row {
	h3 {
		font-size: 16px;
		margin-top: 0;
	}
	.venue-distance {
		text-align: center;
	}

	.subtext {
		font-size: 10px;
	}
}