// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.results-list {
	list-style-type: none;
	padding-left: 0;

	h3 {
		font-size: 18px;
		margin: 0;
		font-weight: 600;
	}


	> li {
		@include make-row();
		padding: 10px 0;
		border-top: 1px solid gray;
	}
}

.venue {
	@include clearfix();
	
	i {
		float: right;
	}
}

.venue-distance {
	@include make-xs-column(2);
}
.venue-details {
	@include make-xs-column(8);
}
.countdown {
	@include make-xs-column(2);
	float: right;
}

.accent-data {
	span {
		display: block;
		text-align: center;
	}


}