<!DOCTYPE html>
<html>
<head>
  <title>GetTimDrunk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
